In [1]:
import numpy as np
import matplotlib.pyplot as plt 
import pandas as pd 
from scipy.special import comb
from itertools import combinations, permutations

In [3]:
df = pd.read_csv('C:/Users/fitec/Documents/pattern mining/groceries - groceries.csv')

In [4]:
df.head()

,Item(s),Item 1,Item 2,Item 3,Item 4,Item 5,Item 6,Item 7,Item 8,Item 9,...,Item 23,Item 24,Item 25,Item 26,Item 27,Item 28,Item 29,Item 30,Item 31,Item 32
0,4,citrus fruit,semi-finished bread,margarine,ready soups,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,3,tropical fruit,yogurt,coffee,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1,whole milk,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,pip fruit,yogurt,cream cheese,meat spreads,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,other vegetables,whole milk,condensed milk,long life bakery product,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
def apyori(df, minimum_support=0.1, confidence=0.22):
    df_values = df.values.astype(str)
    index, counts = np.unique(df_values,return_counts=True)
    df_item = pd.DataFrame(zip(index, counts), columns = ['produto', 'frequencia'])
    df_item.drop(df_item[(df_item['produto'] == 'nan' )|(df_item['produto'] == 'None' )].index, inplace=True)
    df_item.sort_values(by='frequencia', ascending=False, inplace=True)
    df_item.reset_index(drop=True, inplace=True)
    df_item_frequent = df_item[df_item['frequencia']>= minimum_support*len(df)]
    df_itemset_frequencia = pd.DataFrame(columns=['itemset', 'frequencia'])
    for i in range(1, len(df_item_frequent)+1):
        comb = list(combinations(df_item_frequent['produto'].values, i) )
        for w in comb:
            count = 0 
            for instancia in df_values:
                if all(elem in instancia  for elem in w):
                    count = count +1
            if count >= (minimum_support*len(df)):
                df_itemset_frequencia = df_itemset_frequencia.append({'itemset':w, 'frequencia':count}, ignore_index=True)
    df_itemset_frequencia.sort_values(by='frequencia', inplace=True, ascending=False)
    confiabilidade = pd.DataFrame(columns=['regras', 'frequencia', 'confiabilidade'])
    for w in df_itemset_frequencia['itemset'].values:
        w_p = list(permutations(w,len(w)))
        for j in w_p:
            p_uniao = []
            for i in range(len(j)):
                count = 0 
                for instancia in df_values:
                    if all(elem in instancia  for elem in j[i:]):
                        count = count +1
                p_uniao.append(count/len(df))
            if len(j) != 1:
                a = p_uniao[-2]/p_uniao[-1]
                for i in range(len(p_uniao)-2):
                    a = p_uniao[-i-3]/a
                j = list(j)
                j.reverse()
                confiabilidade = confiabilidade.append({'regras':j, 'frequencia':p_uniao[0], 'confiabilidade':a}, ignore_index=True)
            else:
                confiabilidade = confiabilidade.append({'regras':j, 'frequencia':p_uniao[0], 'confiabilidade':p_uniao[0]}, ignore_index=True)
    confiabilidade.sort_values(by='frequencia', ascending=False)
    return confiabilidade[confiabilidade['confiabilidade']>=confidence]
apyori(df.drop(columns='Item(s)'))

                            regras  frequencia  confiabilidade
0                    (whole milk,)    0.255516        0.255516
8   [other vegetables, whole milk]    0.074835        0.386758
9   [whole milk, other vegetables]    0.074835        0.292877
10        [rolls/buns, whole milk]    0.056634        0.307905
11        [whole milk, rolls/buns]    0.056634        0.221647
12            [yogurt, whole milk]    0.056024        0.401603